### Exercici 1:
Donat el següent dataframe data = {'Col1': [50, 30, 10, 40, 20]}, ordena els valors en ordre ascendent i descendent.

In [14]:
import numpy as np
import pandas as pd
from numpy import random

In [15]:
data = {'Col1': [50, 30, 10, 40, 20]}
df= pd.DataFrame(data)

In [16]:
df_asc = df.sort_values(by='Col1')
df_desc = df.sort_values(by='Col1', ascending=False)

In [17]:
print("Ordre ascendent:")
(df_asc)

Ordre ascendent:

   Col1
2    10
4    20
1    30
3    40
0    50

In [18]:
print("Ordre descendent:")
(df_desc)

Ordre descendent:

   Col1
0    50
3    40
1    30
4    20
2    10

### Exercici 2:
Filtra els valors que siguin més grans que 30.

In [19]:
data = {'Col1': [50, 30, 10, 40, 20]}
df_filtre30 = df[df['Col1'] > 30]

In [20]:
print (df_filtre30)

   Col1
0    50
3    40

### Exercici 3:
Comptabilitza els valors únics.

In [21]:
data = {'Col1': [50, 30, 10, 40, 20]}
conta_valores_unics = df['Col1'].value_counts()

print("Els valors únics de 'Col1' són:")
print(conta_valores_unics)

Els valors únics de 'Col1' són:
50    1
30    1
10    1
40    1
20    1
Name: Col1, dtype: int64

### Exercici 4
Donat el següent dataframe: data = {'Grup': ['A', 'B', 'A', 'B', 'A'], 'Col1': [10, 20, 30, 40, 50]}, suma les dades que pertanyen a la mateixa columna.

In [22]:
data = {'Grup': ['A', 'B', 'A', 'B', 'A'], 'Col1': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

In [23]:
Suma_col_igual = df.groupby('Grup')['Col1'].sum()

In [24]:
print ("La suma de les dades que pertanyen a la mateixa columna és:")
print (Suma_col_igual)

La suma de les dades que pertanyen a la mateixa columna és:
Grup
A    90
B    60
Name: Col1, dtype: int64

### Exercici 5
crea una columna nova ‘Col2’ que sigui 2 si és superior al percentil 75% de la ‘Col1’, 0 si és inferior al 25% del percentil de la columna ‘Col1’ i 1 si cau entremig.

In [25]:
data = {'Grup': ['A', 'B', 'A', 'B', 'A'], 'Col1': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

In [26]:
# Calcular los percentiles
percentil_25 = df['Col1'].quantile(0.25)
percentil_75 = df['Col1'].quantile(0.75)

In [27]:
# Función para asignar valores a 'Col2' basados en los percentiles
def asignar_valor(row):
    if row['Col1'] > percentil_75:
        return 2
    elif row['Col1'] < percentil_25:
        return 0
    else:
        return 1

In [28]:
# Aplicar la función y crear la columna 'Col2'
df['Col2'] = df.apply(asignar_valor, axis=1)

# Mostrar el dataframe resultante
print(df)

  Grup  Col1  Col2
0    A    10     0
1    B    20     1
2    A    30     1
3    B    40     1
4    A    50     2